### range()

Syntax:
    
    range(start, end, step)
    
    Produces a `list` of numbers from start to end - 1 with a gap of step
    
For the purposes of this lecture, we will be using `list(range(start, end, step))` only

List of numbers from 0 to 9

In [4]:
list(range(0, 10, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

List of numbers from 0 to 9

In [5]:
list(range(0, 11, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List of odd numbers from 1 to 30

In [7]:
list(range(1, 31, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

List of multiples of 3 from 3 to 60

In [8]:
list(range(3, 61, 3 ))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

### Revise while loop


```
Initialise looping variable

while condition (on looping variable):
    Do something
    change looping variable
    Do something
 ```

Print numbers from 1 to 5 (including 5)

In [11]:
# Initialise
i = 1

# Check condition
while i <= 5:
    # Do something 
    print(i)
    
    # Change looping variable
    i = i +1

1
2
3
4
5

Same thing using a for loop

In [13]:
for i in [1, 2, 3, 4, 5]:
    print(i)

1
2
3
4
5

### for loop
```
for looping variable in LIST:
    Do something
```
    
### while loop


```
Initialise looping variable

while condition (on looping variable):
    Do something
    change looping variable
    Do something
 ```
 
 
1. In while loop, we have to check for the condition. In for loop, we create the LIST in such a way that only those numbers that satisfy the condition will be there.
2. In while loop, we have to manually update the iteration or looping variable. In for loop, we create the LIST in such a way that only those numbers that satisfy the condition will be there.
3. In while loop, we have to initialise the looping or iteration variable. In for loop, we create the LIST in such a way that only those numbers that satisfy the condition will be there.

### Initialisation

#### While loop


i = 1


#### For loop


for i in [<b>1</b>, 2, 3, 4, 5]

### Step or update

#### While loop


i = i + 1


#### For loop


Numbers created with a step of 
for i in **[1, 2, 3, 4, 5]**:

### End condition

#### While loop


while i <=5


#### For loop



for i in [1, 2, 3, 4, **5**]:

#### Demo of above for loop code in Pythontutor.com

In [14]:
for i in list(range(1, 6, 1)):
    print(i)

1
2
3
4
5

- Using while loop find the sum of first n numbers
- Write the above code using for loop
- Using while loop find the sum of odd numbers from 1 to n 
- Write the above code using for loop
- Using for loop find largest number in a list of numbers: [1, 43, 2, -1, 5, 5]. We can also do this using a while loop, but it is out of scope for today.
- Using for loop find the number of numbers in the following list: [1, 4, 5, 6, 7, 10]
- Using for loop find sum of large numbers in the following list: [1, 5, 20, 10, 3, 3, 5]. We define a large numbers as a number greater than 4.
- Using a for loop